
KYR_DirectX11CustomTool/.vs/Tutorial04_2010/v16/.suo
KYR_DirectX11CustomTool/.vs/Tutorial04_2010/v16/Browse.VC.db
KYR_DirectX11CustomTool/.vs/Tutorial04_2010/v16/ipch/AutoPCH/a47c2bc255838674/TUTORIAL04.ipch
KYR_DirectX11CustomTool/Debug/Tutorial04.exe
KYR_DirectX11CustomTool/Debug/Tutorial04.ilk
KYR_DirectX11CustomTool/Debug/Tutorial04.obj
KYR_DirectX11CustomTool/Debug/Tutorial04.pdb
KYR_DirectX11CustomTool/Debug/Tutorial04.tlog/link.read.1.tlog
KYR_DirectX11CustomTool/Debug/vc142.idb
KYR_DirectX11CustomTool/Debug/vc142.pdb
